body {
    background: #EDEDED;
    font-family: 'Times New Roman', Times, serif;
    overflow-x: hidden;
}

/*CABECERA - MENÚ */
.cabecera {
    display: flex;
    width: 100%;
}

.menu {
    margin-left: -26px;
    margin-top: -24px;
    width: 100%;
}

.menu_alura {
    display: flex;
    background: white;
    margin-left: 20px;
    width: 100%;
}

.logo {
    margin-left: 30px;
    margin-top: 10px
}

.buscar {
    background: #EDEDED;
    border: none;
    border-radius: 22px;
    height: 40px;
    margin-left: 20px;
    margin-top: 30px;
    outline: none;
    width: 410px;
}

#search {
    display: block;
    height: 40px;
    color: lightgray;
    margin-left: -33px;
    margin-top: 30px;
    width: 20px;
}

/* BOTÓN - AGREGAR PRODUCTOS */
.btn {
    background: blue;
    border: 2px solid #2A7AE4;
    border-radius: 12px;
    color: white;
    height: 50px;
    margin-left: 1140px;
    margin-top: -440px;
    text-align: center;
    align-content: center;
    width: 170px;
}

.btn-link {
    text-decoration: none;
    color: white;
    width: 170px;
}

/* TODOS LOS PRODUCTOS - TÍTULO */
.todos-productos {
    color: lightsalmon;
}

.titulo {
    margin-left: 100px;
    margin-top: 30px
}

/* TODOS LOS PRODUCTOS - SECCIÓN CONSOLAS1 */ 
.consolas1 {
    border-radius: 10px;
    height: 150px;
    margin-left: 100px;
    margin-top: 10px;
    width: 150px;
}

.producto-1 {
    color: #000;
    margin-left: 100px;
    margin-top: 10px;
}

.precio-1 {
    color: #000;
    margin-left: 150px;   
}

/* TODOS LOS PRODUCTOS - SECCIÓN CONSOLAS2 */
.consolas2 {
    border-radius: 10px;
    height: 150px;
    display: flex;
    flex-direction: row;
    margin-left: 410px;
    margin-top: -245px;
    width: 150px;
}

.producto-2 {
    color: #000;
    margin-left: 410px;
    margin-top: 10px;
}

.precio-2 {
    color: #000;
    margin-left: 460px;
}

/* TODOS LOS PRODUCTOS - SECCIÓN CONSOLAS3 */
.consolas3 {
    border-radius: 10px;
    height: 150px;
    display: flex;
    flex-direction: row;
    margin-left: 730px;
    margin-top: -240px;
    width: 150px;
}

.producto-3 {
    color: #000;
    margin-left: 730px;
    margin-top: 10px; 
}

.precio-3 {
    color: #000;
    margin-left: 780px;
}

/* TODOS LOS PRODUCTOS - SECCIÓN CONSOLAS4 */
.consolas4 {
    border-radius: 10px;
    height: 150px;
    display: flex;
    flex-direction: row;
    margin-left: 1050px;
    margin-top: -240px;
    width: 150px;
}

.producto-4 {
    color: #000;
    margin-left: 1050px;
    margin-top: 10px; 
}

.precio-4 {
    color: #000;
    margin-left: 1100px;
    margin-top: -10px;
}

/* TODOS LOS PRODUCTOS - SECCIÓN CONSOLAS5 */
.consolas5 {
    border-radius: 10px;
    height: 150px;
    margin-left: 100px;
    margin-top: 50px;
    width: 150px;
}

.producto-5 {
    color: #000;
    margin-left: 100px;
    margin-top: 5px;
}

.precio-5 {
    color: #000;
    margin-left: 150px;  
}

/* TODOS LOS PRODUCTOS - SECCIÓN CONSOLAS6*/
.consolas6 {
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    height: 150px;
    margin-left: 400px;
    margin-top: -240px;
    width: 150px;
}

.producto-6 {
    color: #000;
    margin-left: 380px;
    margin-top: 10px;
}

.precio-6 {
    color: #000;
    margin-left: 450px; 
}

/* TODOS LOS PRODUCTOS - SECCIÓN CONSOLAS7 */
.consolas7 {
    border-radius: 10px;
    height: 150px;
    display: flex;
    flex-direction: row;
    margin-left: 730px;
    margin-top: -240px;
    width: 180px;
}

.producto-7 {
    color: #000;
    margin-left: 760px;
    margin-top: 10px; 
}

.precio-7 {
    color: #000;
    margin-left: 790px;
}

/* TODOS LOS PRODUCTOS - SECCIÓN CONSOLAS8 */
.consolas8 {
    border-radius: 10px;
    height: 150px;
    display: flex;
    flex-direction: row;
    margin-left: 1050px;
    margin-top: -240px;
    width: 150px;
}

.producto-8 {
    color: #000;
    margin-left: 1050px;
    margin-top: 10px; 
}

.precio-8 {
    color: #000;
    margin-left: 1100px;
    margin-top: -10px;
}

/* RODAPIE DE CONTACTO - IMAGEN - PÁRRAFOS - FONDO DEL FORMULARIO*/
.form {
    background: lightblue;
    font-size: 20px;
    font-weight: bold;
    height: 400px;
    display: inline;
    margin-bottom: -20px;
    margin-left: -6px;
    margin-top: 180px;
    text-align: center;
    padding: 1rem 0;
    position: absolute;
    width: 100%;   
}

.form-mensaje {
    text-align: justify;
}

.habla-nosotros {
    color: #565658;
    margin-left: 215px;
    text-decoration: none;
}

.hable-nosotros {
    color: #565658;
    margin-left: 540px;
    text-decoration: none;
}

.img-alurageek {
    margin-left: 130px;   
    margin-top: 40px; 
    width: 190px;
}

/* RODAPIE DE CONTACTO - FORMULARIO */
.formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 900px;
    margin-top: -245px;
    padding: 20px;
}

.enviar-mensaje {
    color: #565658;;
    margin-left: 20px;
    margin-top: -25px;
}

.nombre {
    border: none;
    border-radius: 14px;
    margin-top: -10px;
    padding: 14px;
    outline: none;
    width: 60%;
}

.mensaje {
    border: none;
    border-radius: 14px;
    margin-top: 25px;
    padding: 14px;
    outline: none;
    width: 60%;
}

.enviar {
    background: #000000;
    border: none;
    border-radius: 0 0 5px 5px;
    color: white;
    cursor: pointer;
    display: block;
    font-size: 18px;
    margin-left: 15px;
    margin-top: 20px;
    padding: 10px;
    width: 60%;
}

/* Dispositivos móviles  - MOBILES DE BAJA RESOLUCION*/
@media screen and (min-width: 0px) and (max-width: 320px) {
    .menu {
        margin-left: -10px;
        margin-top: -25px;
        width: 760px;
    }
    .menu_alura {
        background: white;
        margin-left: 0px;
        width: 1100px;
    }
    .logo {
        margin-left: 10px;
        margin-top: 10px;
    }
    .buscar {
        background: #EDEDED;
        border: none;
        border-radius: 20px;
        height: 60px;
        margin-left: 40px;
        margin-top: 20px;
        outline: none;
        width: 200px;
    }
    #search {
        display: block;
        height: 40px;
        color: lightgray;
        margin-left: -33px;
        margin-top: 30px;
        width: 20px;
    }
    .boton {
        background: blue;
        border: 2px solid #2A7AE4;
        border-radius: 12px;
        color: white;
        height: 60px;
        margin-left: 80px;
        margin-top: 20px;
        width: 300px;
    }
    .form {
        margin-bottom: 0px;
        margin-left: -10px;
        margin-top: 70px;
        width: 900px;
    }
    .img-alurageek {
        margin-left: 50px;
    }
    .hable-nosotros, .hable-con-nosotros {
        margin-left: 400px;
    }
    .formulario {
        margin-left: 900px;
        width: 300px;
    }
}

/* Dispositivos móviles - MEDIA RESOLUCION Y ALTA RESOLUCION */
@media screen and (min-width: 320px) and (max-width: 530px) {
    .menu {
        margin-left: -10px;
        margin-top: -25px;
    }
    .menu_alura {
        background: white;
        margin-left: 0px;
        width: 960px;
    }
    .logo {
        margin-left: 10px;
        margin-top: 10px;
    }
    .buscar {
        background: #EDEDED;
        border: none;
        border-radius: 20px;
        height: 60px;
        margin-left: 40px;
        margin-top: 20px;
        outline: none;
        width: 200px;
    }
    #search {
        display: block;
        height: 40px;
        color: lightgray;
        margin-left: -33px;
        margin-top: 30px;
        width: 20px;
    }
    .boton {
        background: blue;
        border: 2px solid #2A7AE4;
        border-radius: 12px;
        color: white;
        height: 60px;
        margin-left: 80px;
        margin-top: 20px;
        width: 300px;
    }
    .consolas3 {
        display: flex;
        flex-direction: column;
        margin-top: -280px;
    }
    .form {
        margin-bottom: 0px;
        margin-left: -5px;
        margin-top: 70px;
        width: 960px;
    }
    .img-alurageek {
        margin-left: 50px;
    }
    .hable-nosotros, .hable-con-nosotros {
        margin-left: 200px;
    }
    .formulario {
        margin-left: 450px;
        width: 200px;
    }
}

@media screen and (min-width: 375px) and (max-width: 767px) {
    .menu {
        width: 999px;
    }
    .menu_alura {
        background: white;
        margin-left: 1px;
        width: 990px;
    }
    .logo {
        margin-left: 10px;
        margin-top: 10px;
    }
    .buscar {
        background: #EDEDED;
        border: none;
        border-radius: 20px;
        height: 60px;
        margin-left: 40px;
        margin-top: 20px;
        outline: none;
        width: 200px;
    }
    #search {
        display: block;
        height: 40px;
        color: lightgray;
        margin-left: -33px;
        margin-top: 30px;
        width: 20px;
    }
    .boton {
        background: blue;
        border: 2px solid #2A7AE4;
        border-radius: 12px;
        color: white;
        height: 60px;
        margin-left: 80px;
        margin-top: 20px;
        width: 300px;
    }
    .form {
        margin-bottom: 0px;
        margin-left: -10px;
        margin-top: 70px;
        width: 990px;
    }
    .img-alurageek {
        margin-left: 50px;
    }
    .hable-nosotros, .hable-con-nosotros {
        margin-left: 230px;
    }
    .formulario {
        margin-left: 500px;
        width: 200px;
    }
}

/* Baja resolución, Tablets (Landscape/Horizontal)*/
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .menu {
        margin-left: -28px;
        width: 1000px;
    }
    .menu_alura {
        width: 990px;
    }
    .boton {
        background: blue;
        border: 2px solid #2A7AE4;
        border-radius: 12px;
        color: white;
        height: 60px;
        margin-left: 80px;
        margin-top: 20px;
        width: 200px;
    }
    .form {
        margin-left: -9px;
        width: 1000px;
    }
    .img-alurageek {
        margin-left: 50px;
    }
    .hable-nosotros, .hable-con-nosotros {
        margin-left: 230px;
    }
    .formulario {
        margin-left: 500px;
        width: 200px;
    }
}